/****** Script for SelectTopNRows command from SSMS  ******/
SELECT distinct country_code
FROM [DBShrpn].[dbo].[ghr_employee_events_aud]
--where activity_date = '2026-03-12 10:25:55.080'

/*
update [DBShrpn].[dbo].[ghr_employee_events_aud]
set country_code = 'LC'
*/

alter table [DBShrpn].[dbo].[ghr_employee_events_aud]
alter column gender char(01) NULL;

alter table [DBShrpn].[dbo].[ghr_employee_events_aud]
alter column country_code char(02) NULL;

alter table [DBShrpn].[dbo].[ghr_employee_events_aud]
alter column addr_line_1 varchar(35) NULL;

alter table [DBShrpn].[dbo].[ghr_employee_events_aud]
alter column addr_line_2 varchar(35) NULL;

alter table [DBShrpn].[dbo].[ghr_employee_events_aud]
alter column addr_line_3 varchar(35) NULL;

alter table [DBShrpn].[dbo].[ghr_employee_events_aud]
alter column addr_line_4 varchar(35) NULL;

alter table [DBShrpn].[dbo].[ghr_employee_events_aud]
alter column city_name char(35) NULL;

alter table [DBShrpn].[dbo].[ghr_employee_events_aud]
alter column state_prov char(09) NULL;

alter table [DBShrpn].[dbo].[ghr_employee_events_aud]
alter column postal_code char(09) NULL;

