BEGIN

    DECLARE @v_PSC_BATCHNAME                char(08)            = 'GHR'
    DECLARE @w_PSC_QUALIFIER                char(30)            = 'INTERFACES'
    DECLARE @w_PSC_PSC_PGM_PARMS            varchar(255)        = 'GHR_EMPLOYEE_EVENTS'

	declare @w_activity_date				datetime
	DECLARE @w_userid			            varchar(30)			= 'DBS'


     SELECT @w_activity_date = psc_last_comp_date
        FROM DBSpscb.dbo.psc_step
        WHERE psc_userid = @w_userid
            AND (psc_batchname = @v_PSC_BATCHNAME)
            AND (psc_qualifier = @w_PSC_QUALIFIER)
            AND (psc_pgm_parms = @w_PSC_PSC_PGM_PARMS)     -- bulkcopy step

	select @w_activity_date as w_activity_date


	--select @v_activity_date = MAX(activity_date)
	--from DBShrpn.dbo.ghr_employee_events_aud


	select proc_flag, *
	from DBShrpn.dbo.ghr_employee_events_aud
	where activity_date = @w_activity_date
	and emp_id = '10193'
	order by activity_date
	, aud_id


	SELECT *
	FROM DBShrpn.dbo.ghr_historical_message
	where activity_date = @w_activity_date
	and emp_id = '10193'
	order by activity_date
	, aud_id


	/*
	truncate table DBShrpn.dbo.ghr_debug
	go
	truncate table DBShrpn.dbo.ghr_historical_message
	go
	truncate table DBShrpn.dbo.ghr_employee_events_aud
	go
	*/

END
