/****** Script for SelectTopNRows command from SSMS  ******/
SELECT cp.*
, cep.*

from code_policy cp
join code_entry_policy cep ON
(cp.code_tbl_id = cep.code_tbl_id)

where cp.code_tbl_id IN ('10089','10150','10151')