USE [DBShrpn]
GO
/****** Object:  Table [dbo].[ghr_deduction_temp]    Script Date: 4/1/2025 4:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ghr_deduction_temp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ghr_deduction_temp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EffectiveDate] [char](30) NULL,
	[HROrganization] [varchar](3) NOT NULL,
	[Employee] [varchar](15) NOT NULL,
	[CheckDate] [char](30) NULL,
	[CheckID] [char](10) NOT NULL,
	[Deduction] [varchar](1) NOT NULL,
	[DeductionCode] [varchar](15) NOT NULL,
	[DeductionCodeDescription] [varchar](35) NOT NULL,
	[DeductionAmount] [char](10) NULL,
	[YearToDateDeductionAmount] [char](10) NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ghr_deduction_temp] TO  SCHEMA OWNER 
GO
