USE DBShrpn
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF OBJECT_ID(N'dbo.ghr_employee_events', N'U') IS NOT NULL
BEGIN
    DROP TABLE dbo.ghr_employee_events
    IF OBJECT_ID(N'dbo.ghr_employee_events') IS NOT NULL
        PRINT N'<<< FAILED DROPPING TABLE dbo.ghr_employee_events >>>'
    ELSE
        PRINT N'<<< DROPPED TABLE dbo.ghr_employee_events >>>'
END
GO


CREATE TABLE dbo.ghr_employee_events
    (
      event_id                              char(2)             NULL
    , emp_id                                char(15)            NULL
    , eff_date                              char(10)            NULL
    , first_name                            char(25)            NULL
    , first_middle_name                     char(25)            NULL
    , last_name                             char(30)            NULL
    , empl_id                               char(10)            NULL
    , national_id_type_code                 char(5)             NULL
    , national_id                           char(20)            NULL
    , organization_group_id                 char(5)             NULL
    , organization_chart_name               char(64)            NULL
    , organization_unit_name                char(240)           NULL
    , emp_status_classn_code                char(2)             NULL
    , position_title                        char(60)            NULL
    , employment_type_code                  varchar(70)         NULL    -- increased size to 70 from 5
    , annual_salary_amt                     char(15)            NULL
    , begin_date                            char(10)            NULL
    , end_date                              char(10)            NULL
    , pay_status_code                       char(1)             NULL
    , pay_group_id                          char(10)            NULL
    , pay_element_ctrl_grp_id               char(10)            NULL
    , time_reporting_meth_code              char(1)             NULL
    , employment_info_chg_reason_cd         char(5)             NULL
    , emp_location_code                     char(10)            NULL
    , emp_status_code                       char(2)             NULL
    , reason_code                           char(2)             NULL
    , emp_expected_return_date              char(10)            NULL
    , pay_through_date                      char(10)            NULL
    , emp_death_date                        char(10)            NULL
    , consider_for_rehire_ind               char(1)             NULL
    , pay_element_id                        char(10)            NULL
    , emp_calculation                       char(15)            NULL
    , tax_flag                              char(1)             NULL    -- individual_personal.user_ind_2
    , nic_flag                              char(1)             NULL    -- individual_personal.user_ind_1
    , tax_ceiling_amt                       char(15)            NULL    -- employee.user_monetary_amt_1
    , labor_grp_code                        char(50)            NULL    -- emp_assignment.user_text_1
    , file_source                           char(50)            NULL    -- 'SS VENUS' or 'SS GANYMEDE'
)
GO

ALTER AUTHORIZATION ON dbo.ghr_employee_events TO  SCHEMA OWNER
GO


CREATE UNIQUE CLUSTERED INDEX employee_events_idx ON dbo.ghr_employee_events
(
	  event_id ASC
	, emp_id ASC
	, eff_date ASC
	, emp_status_code ASC
	, pay_element_id ASC
)WITH (
        PAD_INDEX = OFF
      , STATISTICS_NORECOMPUTE = OFF
      , SORT_IN_TEMPDB = OFF
      , IGNORE_DUP_KEY = OFF
      , DROP_EXISTING = OFF
      , ONLINE = OFF
      , ALLOW_ROW_LOCKS = ON
      , ALLOW_PAGE_LOCKS = ON
      )
GO

IF OBJECT_ID(N'dbo.ghr_employee_events', N'U') IS NOT NULL
    PRINT N'<<< CREATED TABLE dbo.ghr_employee_events >>>'
ELSE
    PRINT N'<<< FAILED CREATING TABLE dbo.ghr_employee_events >>>'
GO