USE [DBShrpn]
GO
/****** Object:  Table [dbo].[ghr_events]    Script Date: 4/1/2025 4:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ghr_events]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ghr_events](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[desc] [char](255) NULL,
	[status_flag] [char](1) NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ghr_events] TO  SCHEMA OWNER 
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__ghr_event__statu__0D70AC3C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ghr_events] ADD  DEFAULT ('N') FOR [status_flag]
END
GO
