USE [DBShrpn]
GO
/****** Object:  Table [dbo].[ghr_bank_current_data]    Script Date: 4/1/2025 4:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ghr_bank_current_data]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ghr_bank_current_data](
	[emp_id] [char](15) NOT NULL,
	[pay_element_id] [char](10) NOT NULL,
	[bank_id] [char](11) NOT NULL,
	[direct_deposit_bank_acct_nbr] [char](17) NOT NULL,
	[bank_acct_type_code] [char](1) NOT NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ghr_bank_current_data] TO  SCHEMA OWNER 
GO
