USE [DBShrpn]
GO
/****** Object:  Table [dbo].[ghr_current_temp2]    Script Date: 4/1/2025 4:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ghr_current_temp2]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ghr_current_temp2](
	[Employee_Number] [char](15) NOT NULL,
	[First_Name] [char](25) NOT NULL,
	[Middle_Name] [char](25) NOT NULL,
	[Last_Name] [char](30) NOT NULL,
	[Employer] [char](10) NOT NULL,
	[National_Id_Type] [char](5) NOT NULL,
	[National_Id_Nbr] [char](20) NOT NULL,
	[Position Title] [char](50) NOT NULL,
	[rganization_Unit_name] [varchar](240) NOT NULL,
	[Annual_Salary] [money] NOT NULL,
	[Time_Reporting_Method] [char](1) NOT NULL,
	[Pay_Element_Ctrl_Group] [char](10) NOT NULL,
	[Pay_Group] [char](10) NOT NULL,
	[Pay_Status] [char](1) NOT NULL,
	[Pay_Through_Date] [datetime] NOT NULL,
	[Hire_Date] [datetime] NOT NULL,
	[Original Job_Position_Title] [char](80) NULL,
	[Employee Status] [char](1) NOT NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ghr_current_temp2] TO  SCHEMA OWNER 
GO
