USE DBShrpn
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID(N'dbo.ghr_historical_message', N'U') IS NOT NULL
BEGIN
    DROP TABLE dbo.ghr_historical_message
    IF OBJECT_ID(N'dbo.ghr_historical_message') IS NOT NULL
        PRINT N'<<< FAILED DROPPING TABLE dbo.ghr_historical_message >>>'
    ELSE
        PRINT N'<<< DROPPED TABLE dbo.ghr_historical_message >>>'
END
GO

CREATE TABLE dbo.ghr_historical_message(
	msg_id                      varchar(15)         NOT NULL,
	event_id                    varchar(2)          NOT NULL,
	emp_id                      varchar(15)         NOT NULL,
	eff_date                    varchar(10)         NOT NULL,
	pay_element_desc_06         varchar(20)         NOT NULL,
	msg_p1                      varchar(255)        NOT NULL,
	msg_p2                      varchar(255)        NOT NULL,
	msg_desc                    varchar(255)        NOT NULL,
	activity_date               datetime            NULL
)
GO

ALTER AUTHORIZATION ON dbo.ghr_historical_message TO  SCHEMA OWNER
GO

IF OBJECT_ID(N'dbo.ghr_historical_message', N'U') IS NOT NULL
    PRINT N'<<< CREATED TABLE dbo.ghr_historical_message >>>'
ELSE
    PRINT N'<<< FAILED CREATING TABLE dbo.ghr_historical_message >>>'
GO
