USE DBShrpn
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF OBJECT_ID(N'dbo.ghr_debug', N'U') IS NOT NULL
BEGIN
    DROP TABLE dbo.ghr_debug
    IF OBJECT_ID(N'dbo.ghr_debug') IS NOT NULL
        PRINT N'<<< FAILED DROPPING TABLE dbo.ghr_debug >>>'
    ELSE
        PRINT N'<<< DROPPED TABLE dbo.ghr_debug >>>'
END
GO


CREATE TABLE dbo.ghr_debug
    (
      row_id            int	IDENTITY(1,1)   NOT NULL
    , text_line         varchar(8000)       NOT NULL
)
GO

ALTER AUTHORIZATION ON dbo.ghr_debug TO  SCHEMA OWNER
GO




IF OBJECT_ID(N'dbo.ghr_debug', N'U') IS NOT NULL
    PRINT N'<<< CREATED TABLE dbo.ghr_debug >>>'
ELSE
    PRINT N'<<< FAILED CREATING TABLE dbo.ghr_debug >>>'
GO