USE [DBShrpn]
GO
/****** Object:  Table [dbo].[ghr_rename_temp]    Script Date: 4/1/2025 4:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ghr_rename_temp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ghr_rename_temp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[new_emp_id_01] [char](15) NULL,
	[old_emp_id_01] [char](15) NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ghr_rename_temp] TO  SCHEMA OWNER 
GO
