USE [DBShrpn]
GO
/****** Object:  Table [dbo].[ghr_email_report]    Script Date: 4/1/2025 4:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ghr_email_report]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ghr_email_report](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[event_id_01] [char](2) NULL,
	[emp_id_01] [char](15) NULL,
	[eff_date_01] [char](10) NULL,
	[pay_element_desc_06] [char](20) NULL,
	[first_name_01] [char](25) NULL,
	[last_name_01] [char](30) NULL,
	[empl_id_01] [char](10) NULL,
	[emp_status_code_5] [char](2) NULL,
	[emp_calculation_06] [char](15) NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ghr_email_report] TO  SCHEMA OWNER 
GO
