USE [DBShrpn]
GO
/****** Object:  Table [dbo].[ghr_earnings_temp]    Script Date: 4/1/2025 4:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ghr_earnings_temp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ghr_earnings_temp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HROrganization] [varchar](3) NOT NULL,
	[Employee] [varchar](15) NOT NULL,
	[CheckDate] [char](30) NULL,
	[CheckID] [char](9) NOT NULL,
	[CheckEarning] [varchar](1) NOT NULL,
	[earningsdescp] [varchar](35) NOT NULL,
	[Hours] [varchar](1) NOT NULL,
	[EarningsAmount] [char](10) NULL,
	[PayPeriodDateRangeBegin] [char](30) NULL,
	[PayPeriodDateRangeEnd] [char](30) NULL,
	[YearToDateEarningsAmount] [char](10) NULL,
	[YearToDateHours] [varchar](1) NOT NULL,
	[EffectiveDate] [char](30) NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ghr_earnings_temp] TO  SCHEMA OWNER 
GO
