USE [DBShrpn]
GO
/****** Object:  Table [dbo].[ghr_msg_tbl]    Script Date: 4/1/2025 4:40:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ghr_msg_tbl]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ghr_msg_tbl](
	[msg_id] [char](15) NOT NULL,
	[msg_p1] [char](15) NOT NULL,
	[msg_p2] [char](15) NOT NULL,
	[msg_desc] [char](255) NOT NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ghr_msg_tbl] TO  SCHEMA OWNER 
GO
