USE [DBShrpn]
GO
/****** Object:  Table [dbo].[ghr_message_temp_6]    Script Date: 4/1/2025 4:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ghr_message_temp_6]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ghr_message_temp_6](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[msg_id] [char](15) NOT NULL,
	[msg_p1] [char](15) NOT NULL,
	[msg_p2] [char](15) NOT NULL,
	[msg_desc] [char](255) NOT NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ghr_message_temp_6] TO  SCHEMA OWNER 
GO
