USE [DBShrpn]
GO
/****** Object:  Table [dbo].[ghr_historical_message]    Script Date: 4/1/2025 4:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ghr_historical_message]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ghr_historical_message](
	[msg_id] [varchar](15) NOT NULL,
	[event_id] [varchar](2) NOT NULL,
	[emp_id] [varchar](15) NOT NULL,
	[eff_date] [varchar](10) NOT NULL,
	[pay_element_desc_06] [varchar](20) NOT NULL,
	[msg_p1] [varchar](15) NOT NULL,
	[msg_p2] [varchar](15) NOT NULL,
	[msg_desc] [varchar](255) NOT NULL,
	[activity_date] [datetime] NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ghr_historical_message] TO  SCHEMA OWNER 
GO
